

<h1>Today's Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
        <li>
            <strong> <%= recipe.name %> </strong> - <%= recipe.directions %> 
         <%= link_to "More Info", recipe_path(recipe) %>  
        </li>
        
    <% end %>
</ul>
<strong><%= link_to "Add A Recipe", new_recipe_path %></strong>

 <div class="container">

        <div class="row">
     
            <div class="col-lg-3 col-md-4 col-xs-6 medium">
                <a class="thumbnail" href="<% new_recipe_path %>">
                    <img class="img-responsive" src="http://healthfoodlover.com/hfl/wp-content/uploads/2010/10/fermented-buckwheat-pancakes-with-black-cuurants-and-cultured-butter-2-wm530.jpg" alt="" style="min-height:50px;height:300px;width:300px">

                </a>
			

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 medium">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://i.huffpost.com/gen/1420805/images/o-POACHED-EGG-facebook.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 medium">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://static1.squarespace.com/static/510a909be4b05323be125d3b/t/52e84061e4b025ba0ef057ae/1390952558352/Almond+Berry+Vegan+Overnight+Oats" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 medium">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.runningwithtweezers.com/wp-content/uploads/2010/10/RoastedTomatoAvocadoFinal.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 medium">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://i.huffpost.com/gen/942265/images/o-FENNEL-SALAD-RECIPE-facebook.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 medium">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://i.telegraph.co.uk/multimedia/archive/01112/fpear_1112124c.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://graphics8.nytimes.com/images/2011/01/12/dining/12mini-span/12mini-span-articleLarge.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2012/11/12/0/FN_FN-Kitchens-Fettuccine-Alfredo_s4x3.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://www.gimmesomeoven.com/wp-content/uploads/2012/06/roasted-beet-arugula-goat-cheese-and-honey-crostini.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://callhimyeschef.files.wordpress.com/2012/05/blackberry-cobbler-49-edit-web.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://api.ning.com/files/kV4MbYiv7oTdw50YnzzvfpFS0dg3*1uLbVMaZQi757bgcFkIgiM6NShiWAZvQQLMua2QdOrzwj02LQQS-z0Cu1omrmwJqYR1/1082023356.jpeg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://liveloveeatraw.com.au/wp-content/uploads/2014/04/photo1-6.jpg" alt="" style="min-height:50px;height:300px;width:300px">
                </a>
            </div>
        </div>
