<h1>Today's Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
        <li>
            <strong> <%= recipe.name %> </strong> - <%= recipe.directions %>
            <%= link_to "More Info", recipe_path(recipe) %>
            
        </li>
    <% end %>
</ul>