<header class="image-bg-fluid-height">
        
</header>
	<strong><h3 class="welcome-header text-center">Welcome</h3></strong>
	<strong><h5 class="welcome-header text-center">to</h5></strong>
	<strong><h1 class="welcome-header text-center">Spatula</h1></strong>
	<strong><p class="welcome-header text-center">We are dedicated to bringing you the healthy, delicious, seasonal farm to table recipes week after week. It is our mission to make the world a better and healthier place one plate at a time. We hope you enjoy our recipes and that you will share your own with your fellow community.</p></strong>
<header class="image-bg-fluid-heights">
<header class="image-bg-fluid-heighter">




 
